@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --1-primary: #03045e;
  --2-secondary: #0077b6;
  --3-accent: #00d87a;
  --4-wb-alternate1: #f2f2f2;
  --5-wb-alternate2: #202020;
  --6-black: #202020;
  --7-white: #f2f2f2;
  --8-free-status: #adff2f;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(150deg, var(--3-accent), var(--1-primary));
  border-radius: 1rem;
  cursor: pointer;
}
::-webkit-scrollbar-button {
  cursor: pointer;
  display: none;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: var(--4-wb-alternate1);
}

body {
  width: 100%;
  background-color: var(--5-white);
  font-family: "Karla", sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* navbar section */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  transition: background-color 0.5s ease-in-out;
  animation: appear 2s ease-in-out;
}
.navbar-toggle {
  font-size: 3rem;
  color: var(--3-accent);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.navbar-links.active {
  max-height: 31.25rem;
}

.nav-links {
  padding: 1.25rem 0;
  list-style: none;
}

.navbar-links a {
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.theme-toggle i {
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
}
.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
}
.navbar-links a,
.navbar-toggle,
.theme-toggle,
.returnBtn {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(150deg, var(--3-accent), var(--1-primary));
}
.nav-links:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.theme-toggle:hover,
.returnBtn:hover {
  background-image: linear-gradient(180deg, var(--1-primary), var(--3-accent));
}
/* navbar section */
.returnBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(180deg, var(--3-accent), var(--1-primary));
  font-size: 3.5rem;
  border: none;
  z-index: 2;
  cursor: pointer;
}
/* sections */
.section-titles {
  margin: 1rem 0;
}
/* sections */

/* icons */
.icons {
  font-size: 3rem;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  color: var(--2-secondary);
}
/* icons */

/* accordion basic styles */
.accordion-button {
  padding: 0.625rem;
  width: 100%;
}
.accordion-item {
  background-color: transparent;
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.accordion.active .accordion-content {
  max-height: auto;
}
.accordion-content .items-elements-accordion {
  display: inline-block;
  margin: 0.3125rem;
}
/* accordion basic styles */

/* footer styles */
#contact {
  background-image: linear-gradient(
    120deg,
    var(--3-accent),
    var(--2-secondary)
  );
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: auto;
}
footer,
.body-text-contact,
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-text-contact,
.contact-item {
  width: 80%;
  height: 100%;
}
.body-text-contact {
  text-align: center;
  color: var(--4-wb-alternate1);
}
.status-title {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  color: var(--8-free-status);
  animation: flicker 1.5s infinite linear;
}
.contact-item {
  gap: 2rem;
}
.contact-title {
  font-size: 1.5rem;
  color: var(--1-primary);
  text-transform: uppercase;
  animation: flicker-size 1.5s infinite linear;
}
.social-presentation-contact,
.social-presentation-contact a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-presentation-contact {
  gap: 1rem;
}
.social-presentation-contact a {
  text-decoration: none;
  color: var(--1-primary);
  border: 0.1rem solid var(--1-primary);
  border-radius: 3rem;
  padding: 0.3rem;
  position: relative;
  overflow: hidden;
}
.social-presentation-contact a:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.contact-icons {
  font-size: 1.5rem;
  color: var(--1-primary);
}
small {
  text-align: center;
  margin: 2rem;
  color: var(--4-wb-alternate1);
}
/* footer styles */
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-height: none;
    overflow: visible;
    transition: none;
  }
  .contact-container {
    height: 40vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .body-text-contact {
    width: 40%;
  }
  .contact-item {
    width: 40%;
  }
  .social-presentation-contact a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
    transition: 0.3s ease-in-out;
  }

  .social-presentation-contact a:hover::before {
    left: 100%;
  }
}
