@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --1-primary: #03045e;
  --2-secondary: #0077b6;
  --3-accent: #00d87a;
  --4-text-primary: #202020;
  --5-white: #f2f2f2;
  --6-black: #202020;
}

body {
  width: 100%;
  background-color: var(--5-white);
  font-family: "Karla", sans-serif;
  color: #202020;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* navbar section */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-toggle img {
  width: 100%;
  height: auto;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.navbar-links.active {
  max-height: 500px;
}

.nav-links {
  padding: 20px 0;
  list-style: none;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.theme-toggle img {
  height: 2rem;
  cursor: pointer;
}
.theme-toggle {
  border: none;
  background: none;
}
/* navbar section */
.returnBtn {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 0%;
  right: 0%;
  margin: 20px;
  border: none;
  color: gray;
  background-color: aliceblue;
  box-shadow: 0px 5px 5px gray;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
/* sections */
.section-titles {
  margin: 15px 0px;
}
/* sections */

/* accordion basic styles */
.accordion-button {
  padding: 10px;
  width: 100%;
}
.accordion-item {
  background-color: transparent;
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.accordion.active .accordion-content {
  max-height: auto;
}
.accordion-content .items-elements-accordion {
  display: inline-block;
  margin: 5px;
}
/* accordion basic styles */

/* footer styles */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 40vh;
}

footer,
.body-text-contact,
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-text-contact {
  width: 40%;
}
.contact-item {
  width: 40%;
}
small {
  text-align: center;
  margin: 2rem;
}
/* footer styles */
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-height: none;
    overflow: visible;
    transition: none;
  }
  .contact-container {
    flex-direction: row;
  }
}
