#inicio {
  height: 100vh;
  width: 100%;
  animation: 6s cubic-bezier(0.25, 1, 0.5, 1) circle-zoom both;
}
#inicio,
.presentation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.presentation {
  height: 100%;
  width: 90%;
  flex-direction: column;
  text-align: center;
  animation: appear 3s ease-in-out;
  user-select: none;
}
#profilePhoto {
  height: 12rem;
  border-radius: 80% 20% 0% 100% / 80% 100% 0% 20%;
  background: linear-gradient(
    to bottom,
    var(--3-accent) 0%,
    var(--1-primary) 100%
  );
  -webkit-box-reflect: below 0.6rem linear-gradient(transparent, #0005);
}
#profilePhoto:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
.content-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.titles-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title-presentation {
  width: auto;
  font-size: 2.5rem;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(120deg, var(--3-accent), var(--1-primary));
}
.subtitle-presentation {
  color: var(--2-secondary);
  text-transform: uppercase;
  animation: bubblegum 1s ease-in-out;
  animation-delay: 3s;
}
.text-presentation {
  margin: 0.6rem 0rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}
.social-presentation {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 0rem;
}
.icons:hover {
  color: var(--3-accent);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
@media (min-width: 480px) and (max-width: 1079px) {
  .presentation {
    width: 80%;
    gap: 1rem;
  }
  #profilePhoto {
    height: 16rem;
  }
  .titles-presentation {
    font-size: 1.3rem;
  }
  .text-presentation {
    font-size: 1.3rem;
  }
  .social-presentation {
    margin: 2rem 0rem;
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .presentation {
    width: 70%;
    gap: 1rem;
    flex-direction: row;
    font-size: 1.5rem;
  }
  #profilePhoto {
    height: 20rem;
  }
  .content-presentation {
    width: 60%;
    gap: 1rem;
  }
  .titles-presentation {
    font-size: 1.5rem;
  }
  .title-presentation {
    font-size: 3rem;
  }
  .text-presentation {
    font-size: 1.5rem;
  }
  .social-presentation {
    margin: 2rem 0rem;
    width: 50%;
  }
}
