#aboutMe {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-item {
  background-color: transparent;
  /* box-shadow: 0rem 0rem 0.5rem var(--2-secondary); */
  padding: 1rem;
  text-align: left;
}
.accordion-about {
  background-image: linear-gradient(180deg, var(--3-accent), var(--1-primary));
  width: 100%;
  border-radius: 1rem;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--4-wb-alternate1);
}
.accordion-about-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem 0rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.accordion-about-content-abilities,
.abilities-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accordion-about-content-abilities {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.abilities-item {
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
  user-select: none;
}
.abilities-item i {
  font-size: 2rem;
  margin: 0.5rem 0rem;
  color: var(--2-secondary);
}
.ab-title-item {
  color: var(--2-secondary);
  margin: 0.3rem;
}
.ab-text-item {
  width: 90%;
  font-size: 0.8rem;
}
#stack {
  display: flex;
  flex-direction: column;
}
.stack-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 0.6rem;
}
.stack-icon {
  height: 3rem;
  border-radius: 1rem;
  padding: 0.2rem;
  background-color: var(--2-secondary);
  animation: shadows 4s ease-in-out infinite;
}
#profile-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-profile-about {
  color: var(--3-accent);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--1-primary);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.title-profile {
  color: var(--2-secondary);
  text-shadow: 0.08rem 0.08rem 0.1rem var(--1-primary);
}
.content-profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#profile-aboutPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  height: 25%;
  width: 100%;
}
.profile-aboutPhoto {
  width: 120px;
  height: 90%;
  object-fit: cover;
  background: linear-gradient(
    to bottom,
    var(--3-accent) 0%,
    var(--1-primary) 100%
  );
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--1-primary);
}
.text-profile {
  letter-spacing: 0.02rem;
  text-align: left;
  word-wrap: break-word;
  font-size: 0.9rem;
}
.text-soft {
  padding: 0.5rem;
  letter-spacing: 0.02rem;
  text-indent: 1rem;
  white-space: balance;
  font-size: 0.9rem;
}
@media (min-width: 769px) {
  .accordion-content,
  .accordion-about-content {
    display: flex;
    max-height: none;
    transition: none;
  }
  .about-item {
    border-radius: 1rem;
  }
  .about-container {
    width: 90%;
    gap: 2rem;
    display: grid;
    grid-template-areas:
      "abilities abilities abilities"
      "profile profile stack"
      "profile profile soft-skills";
    grid-template-columns: 1fr 0.6fr 1.4fr;
    grid-template-rows: auto auto auto;
  }

  #profile-about {
    grid-area: profile;
  }
  #abilities {
    grid-area: abilities;
  }
  #stack {
    grid-area: stack;
  }
  #soft-skills {
    grid-area: soft-skills;
  }
  .accordion-about-content-abilities {
    flex-direction: row;
  }
  .abilities-item {
    width: 25%;
  }
  .content-profile {
    width: 90%;
  }
}
