#skills,
.container-skills {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-skills {
  width: 80%;
}
.skills-item {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}

@media (min-width: 769px) {
  .accordion-content,
  .accordion-skills-content {
    display: block;
    max-height: none;
    transition: none;
  }
  .accordion-skills-container {
    height: 80%;
    gap: 10px;
    display: grid;
    grid-template-areas:
      "abilities abilities stack"
      "abilities abilities stack"
      "abilities abilities soft-skills";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  #abilities {
    grid-area: abilities;
  }
  #stack {
    grid-area: stack;
  }
  #soft-skills {
    grid-area: soft-skills;
  }
}
