#projects,
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects-container {
  width: 100%;
}
.project {
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
}
.project-title,
.project-description,
cover-image,
.tabs,
.tab {
  width: 95%;
}
.project-title {
  margin: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--2-secondary);
}
.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  text-align: left;
}
.project-description a {
  background: linear-gradient(
    to bottom,
    var(--3-accent) 0%,
    var(--1-primary) 100%
  );
  color: var(--4-wb-alternate1);
  margin: 1rem 0rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  animation: shadows 3s infinite ease-in-out;
}
.project-description a:hover {
  transform: scale(1.1);
  background: linear-gradient(
    to top,
    var(--3-accent) 0%,
    var(--1-primary) 100%
  );
  transition: 0.3s ease-in-out;
}
.cover-image {
  border-radius: 1rem;
  height: 15rem;
  margin: 3rem 0rem;
  object-fit: cover;
  animation: shadows 3s infinite ease-in-out;
}
.tabs,
.tab {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  color: var(--2-secondary);
  cursor: pointer;
}
.tab.active {
  background: linear-gradient(
    to bottom,
    var(--3-accent) 0%,
    var(--1-primary) 100%
  );
  color: var(--4-wb-alternate1);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.tab-content {
  display: none;
  opacity: 0;
}
.tab-content.show {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
  padding: 1rem 0rem;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  line-height: 1.2;
}
.tab-content.show li {
  padding: 0.5rem 0rem;
}
.tech-item {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.tech-image {
  height: 3rem;
  padding: 0.3rem;
  background-color: var(--2-secondary);
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: shadows 4s infinite ease-in-out;
}

@media (min-width: 480px) and (max-width: 1079px) {
  .project-title,
  .project-description,
  .cover-image,
  .tabs,
  .tab {
    width: 80%;
  }
  .cover-image {
    height: 23rem;
  }
  .tabs {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1080px) {
  .project-title,
  .project-description,
  .cover-image,
  .tabs,
  .tab {
    width: 60%;
  }
  .cover-image {
    height: 25rem;
  }
  .tabs {
    flex-wrap: nowrap;
  }
  .tab-content.show {
    width: 40%;
  }
}
