@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --1-primary: #6a0dad;
  --2-secondary: #9d4edd;
  --3-accent: #ff007f;
  --4-text-primary: #f2f2f2;
  --5-white: #f2f2f2;
  --6-black: #202020;
}

body {
  background-color: var(--6-black);
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  background-color: transparent;
}

.nav-links a {
  color: var(--5-white);
}
