/* animations */
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flicker-size {
  0% {
    opacity: 0.1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.9);
  }
}

@keyframes circle-zoom {
  from {
    clip-path: circle(0%);
    background-color: var(--3-accent);
  }
  to {
    clip-path: circle(200% at top);
  }
}
@keyframes shadows {
  0% {
    box-shadow: 0rem 0rem 0.3rem var(--3-accent);
  }
  25% {
    box-shadow: 0rem 0rem 0.6rem var(--1-primary);
  }
  50% {
    box-shadow: 0rem 0rem 0.9rem var(--3-accent);
  }
  75% {
    box-shadow: 0rem 0rem 0.6rem var(--1-primary);
  }
  100% {
    box-shadow: 0rem 0rem 0.3rem var(--3-accent);
  }
}
