/* animations */
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flicker-size {
  0% {
    opacity: 0.1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.9);
  }
}

@keyframes circle-zoom {
  from {
    clip-path: circle(0%);
    background-color: var(--3-accent);
  }
  to {
    clip-path: circle(100%);
  }
}
@keyframes shadows {
  0% {
    box-shadow: 0rem 0rem 0.3rem var(--3-accent);
  }
  25% {
    box-shadow: 0rem 0rem 0.6rem var(--1-primary);
  }
  50% {
    box-shadow: 0rem 0rem 0.9rem var(--3-accent);
  }
  75% {
    box-shadow: 0rem 0rem 0.6rem var(--1-primary);
  }
  100% {
    box-shadow: 0rem 0rem 0.3rem var(--3-accent);
  }
}

@keyframes bubblegum {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
